SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/salvo
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

APP_SEED_DEMO_DATA=false

FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_URL=
FIREBASE_CREDENTIALS_BASE64=
FIREBASE_CREDENTIALS_JSON=
